* {
  box-sizing: border-box;
}

body {
  background-color: indianred;
  max-width: 100vw;
  height: 100vh;
}

.pokemons-area {
  display: flex;
  justify-content: center;

  gap: 30px;
  padding: 30px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid black;

  &__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__text {
    text-align: center;
  }
}

.footer-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}
